@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDFBD4;
  /* background-image: url("https://media.istockphoto.com/id/515373062/vector/food-seamless-background.jpg?s=612x612&w=0&k=20&c=hexa_lBms2zsFxEHASUeYhNu17i8JfV3TGOoDark-tk="); */
}

/* HEADER */
i h1 {
  font-family: "Inter Tight";
  letter-spacing: 6px;
  padding-left: 10%;
}

.header-slogan {
  font-family: "Poppins";
  font-size: 2pc;
  letter-spacing: 5px;
  padding-left: 2%;
  padding-top: 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: tomato;
}

@media screen and (max-width: 812px) {
  .ingredients-slogan {
    font-size: 1.5pc;
  }

  i h1 {
    font-size: 1.5pc;
  }

  .foodify-logo {
    width: 40px;
    height: 40px;
  }

  .header-slogan {
    font-size: 1.5pc;
    letter-spacing: 2px;
  }
}

.foodify-logo {
  transform: rotate(45deg);
  margin-top: 5px;
}

/* Splash Page */
.add-ingredients-btn {
  display: flex;
  justify-content: center;
  margin-top: 4pc;
}

/* Ingredients List */

.ingredients-container {
  display: flex;
  flex-direction: column;
  width: auto;
  font-family: 'Poppins';
  font-weight: 500;
  position: relative;
  /* margin-left: 25%; */
}

#flex-item {
  margin: 0 2pc 2pc 2pc;
}

#group-buttons {
  display: contents;
}

.pantry-essentials {
  padding-top: 1pc;
}

.find-recipes-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 2pc;
}

#outlined-basic {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5pc;
}

.ingredients-slogan {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Poppins";
  font-size: 2pc;
  letter-spacing: 5px;
  color: tomato;
  padding: 2% 0 2% 0;
}

.clear-all-btn {
  display: flex;
  justify-content: flex-start;
  margin: 0pc 0 0 2pc;
  position: absolute;
}

@media screen and (max-width: 901px) {
  .clear-all-btn {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 1pc;
  }
}

.ingredients-container img {
  margin-right: 0.75pc;
}

.meal-type {
  display: flex;
  justify-content: center;
  padding-bottom: 2pc;
}

/* Response Cover */
.response-cover {
  padding: 1% 2%;
  background-color: #bfffb5;
  border-radius: 20px;
  box-shadow: 0 10px 40px #b5ffbe, 0 0 0 20px #afe99f;
  margin: 1% 20%;
  animation: fade-up-response 1.5s;
  margin-top: 2pc;
  margin-bottom: 3pc;
}

.response-cover p {
  font-family: "Poppins";
  font-size: 110%;
}

@media screen and (max-width: 550px) {
  .response-cover {
    margin: 2pc;
  }
}

@keyframes fade-up-response {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* Loading Popup */
.loading-alert {
  display: flex;
  justify-content: center;
}