@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFF1;
}

/* HEADER */
i h1 {
  font-family: "Inter Tight";
  letter-spacing: 6px;
  padding-left: 10%;
}

.header-slogan {
  font-family: "Inter Tight";
  font-size: 20px;
  letter-spacing: 5px;
  padding-left: 2%;
}

.foodify-logo {
  transform: rotate(45deg);
  margin-top: 5px;
}

/* Splash Page */
.add-ingredients-btn {
  display: flex;
  justify-content: center;
  margin-top: 4pc;
}

/* Ingredients List */

.ingredients-container {
  display: flex;
  flex-direction: column;
  width: auto;
  font-family: 'Poppins';
  font-weight: 500;
  position: relative;
  /* margin-left: 25%; */
}

#flex-item {
  margin: 0 2pc 2pc 2pc;
}

.pantry-essentials {
  padding-top: 1pc;
}

.find-recipes-btn {
  display: flex;
  justify-content: center;
}

#outlined-basic {
  display: flex;
  justify-content: center;
  padding-top: 2pc;
}